<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
</head>

<body>

<div class="navbar">
    <div>

        <div class="navbar-header">
            <a href="{{ url_for('index') }}">
                Careenium
            </a>
        </div>

        <ul class="navbar-list">
            <li>
                <a href="{{ url_for('about') }}">
                    About
                </a>
            </li>
        </ul>

    </div>

</div>

{% block content %}{% endblock %}

</body>

</html>
