{% extends "base.html" %}

{% block title %}
    Careenium
{% endblock %}

{% block head %} 
    {% if development %}
        <base href="http:127.0.0.1:5000" /> 
    {% else %}
        <base href="https:real-url-will-eventually-go-here.com" /> 
    {% endif %}
{% endblock %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename='simulation_classes.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='careenium.js') }}"></script>


<div class="canvas-elem">
    <canvas id="game-canvas" width="750" height="450" style="border: 5px solid #000000;">
        Update your browser to support HTML5 Canvas
    </canvas>
</div>

<div class="cursor-display">
    <span>X: <span id="x-coord-display"> none </span></span>
    <span>Y: <span id="y-coord-display"> none </span></span>
<div>

<div class="buttons-div">
    <span><button type="button" id="btn-start-simulation" class="btn btn-info">Start Simulation</button></span>
    <span><button type="button" id="btn-stop-simulation" class="btn btn-info">Stop Simulation</button></span>
    <span><button type="button" id="btn-clear-simms" class="btn btn-info">Clear Simms</button></span>
    <span><button type="button" id="btn-create-random-simms" class="btn btn-info">Create Random Simms</button></span>
</div>

{% endblock %}
